@using GitNet.Utilities;
@{
	ViewBag.AppName = "GitNet";
	var HasTitles = (ViewBag.Title != null || ViewBag.Titles != null);
	var Titles = new MvcHtmlString[] {};
	var PlainTitles = new String[] {};
	if (HasTitles) {
		Titles = ViewBag.Titles ?? new MvcHtmlString[] { MvcHtmlString.Create(ViewBag.Title) };
		PlainTitles = ViewBag.TitleStrings ?? new string[] {ViewBag.Title};
	}
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.AppName
            @if (HasTitles) {
                foreach (var title in PlainTitles) {
	            	<text> > @title</text>
	            }
             }</title>
    <link href="@Url.Content("~/Content/css/screen.css")" media="screen, projection"  rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/print.css")" media="print" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/javascript/application.js")" type="text/javascript"></script>
	
	<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
<body>
    <header>
        <div id="title">
            <h1
            @if (!HasTitles) {
            	<text>class="current-page"</text>
            }
            >@Html.ActionLink((string)ViewBag.AppName, "Index", "Home")</h1>
            @if (HasTitles) {
            	foreach (var title in Titles) {
	            	<h1 @if (title == Titles.Last()) {<text>class="current-page"</text>}>
	            		@title
	            	</h1>
	            }
            }
        </div>
        <nav>
            <ul id="menu">
                @if (Request.IsAuthenticated) {
                    <li>@Html.ActionLink(User.Identity.Name, "Profile", "Account")</li>
        			<li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
                }
                @if (AuthenticationExtensions.IsFormsAuthEnabled()) {
                    if (Request.IsAuthenticated) {
                    	<li>@Html.ActionLink("Log Out", "LogOff", "Account")</li>
                    } else {
                    	<li>@Html.ActionLink("Log In", "LogOn", "Account")</li>
                    }
                }
            </ul>
        </nav>
        <br class="clear"/>
    </header>
    <section id="main">
        @RenderBody()
    </section>
    <footer>
	    @Html.ActionLink("About", "About", "Home")
    </footer>
</body>
</html>
