@model GitNet.DB.Repo

@{
	ViewBag.Title = String.Format("{0}/{1}", Model.Owner, Model.Name);
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tabbed">
	<section @if (ViewBag.ActiveTab == "Show") { <text>class="current-tab"</text> }>
		<h1>@Html.RouteLink(@Model.Name, "GitRepositoryBrowser", new {username="", reponame=@Model.UrlName})</h1>
		@if (ViewBag.ActiveTab == "Show") {
			@RenderBody()
		}
	</section>
	<section @if (ViewBag.ActiveTab == "Browse") { <text>class="current-tab"</text> }>
		<h1>@Html.RouteLink("Browse", "GitRepositoryBrowser", new {username="", reponame=@Model.UrlName, action="Browse"})</h1>
		@if (ViewBag.ActiveTab == "Browse") {
			@RenderBody()
		}
	</section>
	<section>
		<h1>Merge Requests</h1>
	
	</section>
	<section>
		<h1>Statistics</h1>
	
	</section>
	@if ((bool)ViewBag.CanAdmin) {
	<section @if (ViewBag.ActiveTab == "Admin") { <text>class="current-tab"</text> } >
		<h1>@Html.RouteLink("Admin", "GitRepositoryBrowser", new {username="", reponame=@Model.UrlName, action="Admin"})</h1>
		@if (ViewBag.ActiveTab == "Admin") {
			@RenderBody()
		}
	</section>
	}
</div>
	
