@model GitNet.GitClient.FileDiff
	
<div class="file">
	@if (Model.OldFilePath == @Model.NewFilePath) {
		<div class="modified">@Model.OldFilePath</div>
	} else if (Model.OldFilePath == "/dev/null") {
		<div class="added">@Model.NewFilePath</div>
	} else if (Model.NewFilePath == "/dev/null") {
		<div class="deleted">@Model.OldFilePath</div>
	} else {
		<div class="renamed">
			<span class="old">
				@Model.NewFilePath
			</span>
			<span class="new">
				@Model.NewFilePath
			</span>
		</div>
	}
</div>