@model GitNet.GitClient.FileDiff

@{
	var className = Model.Binary ? "binary" : "text";
}

<div class="file-diff @className">
	<div class="path">
		@if (Model.OldFilePath == @Model.NewFilePath) {
			@Model.OldFilePath
		} else if (Model.OldFilePath == "/dev/null") {
			@Model.NewFilePath
		} else if (Model.NewFilePath == "/dev/null") {
			@Model.OldFilePath
		} else {
			<span class="old">
				@Model.NewFilePath
			</span>
			<span class="new">
				@Model.NewFilePath
			</span>
		}
		
		@if (Model.Binary) {
			<span class="binary">Binary</span>
		}
	</div>
	@foreach (var hunk in @Model.Changes) {
		<div class="hunk">
			@hunk.Type
			<div id="old">
				@foreach (var str in hunk.Old) {
					<p>@str</p>
				}
			</div>
			<div id="new">
				@foreach (var str in hunk.New) {
					<p>@str</p>
				}
			</div>
		</div>
	}
</div>