@model List<GitNet.GitClient.PathCommitInfo>
@using System.Linq;

@{
	var pageSize = 10;
	var count = Model.Count(); 
 	var offset = (((int)ViewBag.Page) - 1) * pageSize;
}

@foreach (var line in Model.Skip(offset).Take(pageSize)) {
	<section class="log">
		<h1>@line.ShortId (@line.Author)</h1>
		<p>@line.When</p>
		<p>@line.LongMessage</p>
		<p>@Html.RouteLink("Changes", "GitRepositoryObjectBrowser", new {username = "", reponame = (string)ViewBag.RepoUrlName, id=line.CommitId})</p>
	</section>
}

@if ((int)ViewBag.Page > 1) {
	@Html.RouteLink("<< Back", @Url.FromThisAction(new Dictionary<string, object>{{"page", ViewBag.Page - 1}}))
}

@if (count > (offset+pageSize)) {
	@Html.RouteLink("Next >>", @Url.FromThisAction(new Dictionary<string, object>{{"page", ViewBag.Page + 1}}));
}