<h2>Files</h2>
@if (ViewBag.Files.Count > 0) {
	<table class="filebrowser">
		<thead>
			<tr>
				<th>Name</th>
				<th>Committer</th>
				<th>Message</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var file in ViewBag.Files) {
				<tr>
					<td>
						@if (file.IsSubtree) {
							<text>+</text>
						} else {
							<text>-</text>
						}
						@Html.RouteLink((string)file.Name, "GitRepositoryFileViewer", (object)GitHtmlHelpers.UrlForFile(Model, file))
					</td>
					<td></td>
					<td></td>
				</tr>
			}
		</tbody>
	</table>
} else {
	<p class="nofiles">
		It looks like you haven't committed any files. Perhaps you need to push your first commit?
	</p>
}