@model GitNet.DB.Repo
@{
	ViewBag.ActiveTab = "Admin";
	Layout = "_BrowserLayout.cshtml";
}

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)
	<fieldset>
		<div class="editor-label">
			@Html.LabelFor(m => m.Name)
		</div>
		<div class="editor-field">
			@Model.Name
		</div>
		
		<div class="editor-label">
			@Html.LabelFor(m => m.Description)
		</div>
		<div class="editor-field">
			@Html.TextAreaFor(m => m.Description)
			@Html.ValidationMessageFor(m => m.Description)
		</div>
		
		<div class="editor-label">
			@Html.LabelFor(m => m.Public)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.Public)
			@Html.ValidationMessageFor(m => m.Public)
		</div>
		
		
        <p>
            <input type="submit" value="Save" />
        </p>
	</fieldset>
		
}