@model GitNet.DB.Repo
@using GitNet.GitClient

@{
	ViewBag.TitleStrings = new[] {Model.Name, (string)ViewBag.Commit.ShortMessage};
	ViewBag.Titles = new[] {
		Html.RouteLink(Model.Name, "GitRepositoryBrowser", new {username = "", reponame = Model.UrlName}),
		new MvcHtmlString(ViewBag.Commit.ShortMessage)
	};
}

<section class="commit-summary">
	<p class="message">@ViewBag.Commit.LongMessage</p>
	<p class="by">
		<span class="author">@ViewBag.Commit.Author</span>
		<span class="timestamp">@ViewBag.Commit.When</span>
	</p>
</section>

<section class="diff-file-list">
@foreach (FileDiff diff in ViewBag.RawDiff) {
	@Html.Partial("_DiffFileList", diff)
}
</section>

<section class="diff-file-detail">
@foreach (FileDiff diff in ViewBag.RawDiff) {
	@Html.Partial("_DiffFileDetail", diff)
}
</section>