@model GitNet.DB.Repo

@{
	ViewBag.ActiveTab = "Show";
	Layout = "_BrowserLayout.cshtml";
}

<div class="header-bar">
	@if (!string.IsNullOrEmpty(Model.Description)) {
		<p>@Model.Description</p>
	}
	<p class="cloneme">Clone from 
		<span class="repository-url">
			@Url.RouteUrl("GitRepository", new {username="", reponame=@Model.UrlName}, "http")
		</span>
		<span class="access-level">
			@if ((bool)ViewBag.CanWrite) {
				<text>Clone and push access</text>
			} else {
				<text>Clone access only</text>
			}
		</span>
	</p>
</div>
<div>
	<section class="history">
		@Html.Partial("_History", (object)ViewBag.History)
	</section>
</div>