/* line 1, ../sass/repository-browser.scss */
div.header-bar {
  border: 1px solid #ccc;
}

/* line 5, ../sass/repository-browser.scss */
span.repository-url {
  background: white;
  border: 1px solid #ddd;
  padding: 3px;
}

/* line 11, ../sass/repository-browser.scss */
span.access-level {
  padding-left: 5px;
  color: #666;
}

/* line 18, ../sass/repository-browser.scss */
.history > h1 {
  padding-bottom: 1em;
}
/* line 22, ../sass/repository-browser.scss */
.history .log {
  padding-bottom: 1em;
}
/* line 23, ../sass/repository-browser.scss */
.history .log h1 {
  padding-bottom: 0;
}
/* line 26, ../sass/repository-browser.scss */
.history .log p {
  padding-top: 0.2em;
}

/* line 34, ../sass/repository-browser.scss */
.diff-file-list {
  border: 1px solid #ccc;
  border-radius: 3px;
}
/* line 38, ../sass/repository-browser.scss */
.diff-file-list .file {
  border-top: 1px solid #ccc;
}
/* line 40, ../sass/repository-browser.scss */
.diff-file-list .file:first-child {
  border-top: none;
}
/* line 43, ../sass/repository-browser.scss */
.diff-file-list .file div {
  padding: 3px;
}
/* line 46, ../sass/repository-browser.scss */
.diff-file-list .file div.added {
  background: #c8dcc8;
}
/* line 49, ../sass/repository-browser.scss */
.diff-file-list .file div.deleted {
  background: #dcc8c8;
}
/* line 52, ../sass/repository-browser.scss */
.diff-file-list .file div.modified, .diff-file-list .file div.renamed {
  background: #e6dcc8;
}

/* line 59, ../sass/repository-browser.scss */
.commit-summary {
  padding: 0.5em;
}
/* line 61, ../sass/repository-browser.scss */
.commit-summary .by {
  padding-top: 1em;
}

/* line 66, ../sass/repository-browser.scss */
.file-diff {
  border: 1px solid #ccc;
  margin: 0.5em 0em;
  border-radius: 3px;
}
/* line 71, ../sass/repository-browser.scss */
.file-diff.text .path {
  border-bottom: 1px solid #ccc;
}
/* line 74, ../sass/repository-browser.scss */
.file-diff div.path {
  padding: 0.3em;
}
/* line 77, ../sass/repository-browser.scss */
.file-diff div.path .binary {
  font-style: italic;
  color: #666;
}
/* line 82, ../sass/repository-browser.scss */
.file-diff p {
  padding: 0.3em;
}
