/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -54px;
}
/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer #root_footer {
  height: 54px;
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 54px;
}

/* line 26, ../sass/screen.scss */
html {
  font-family: Gill Sans, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  background: #d5ebf6;
}

/* line 32, ../sass/screen.scss */
header {
  background: #000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #111111), color-stop(50%, #333333), color-stop(100%, #555555));
  background: -webkit-linear-gradient(top, #111111, #333333 50%, #555555);
  background: -moz-linear-gradient(top, #111111, #333333 50%, #555555);
  background: -o-linear-gradient(top, #111111, #333333 50%, #555555);
  background: -ms-linear-gradient(top, #111111, #333333 50%, #555555);
  background: linear-gradient(top, #111111, #333333 50%, #555555);
  padding: 0px 9px;
  border-bottom: 2px solid #000;
  color: #fff;
  text-shadow: 0px 2px 3px #000;
}
/* line 41, ../sass/screen.scss */
header h1 {
  font-size: 22px;
  font-weight: normal;
  float: left;
  margin: 0em;
  padding: 0.5em 0.5em;
  padding-bottom: 0.3em;
}
/* line 48, ../sass/screen.scss */
header h1 a {
  text-decoration: none;
  color: white;
}
/* line 54, ../sass/screen.scss */
header h1:first-child {
  font-weight: bold;
}
/* line 58, ../sass/screen.scss */
header h1.current-page {
  background: #222;
}
/* line 63, ../sass/screen.scss */
header nav {
  float: right;
  vertical-align: middle;
  margin-top: 0.8em;
  font-size: 16px;
}
/* line 68, ../sass/screen.scss */
header nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 49, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
header nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
}
/* line 7, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
header nav ul li {
  *display: inline;
}
/* line 70, ../sass/screen.scss */
header nav ul li {
  padding-left: 1em;
  padding-right: 1em;
}
/* line 76, ../sass/screen.scss */
header nav a {
  color: #89c5ef;
}

/* line 82, ../sass/screen.scss */
h1 {
  font-size: 36px;
  font-weight: bold;
}

/* line 91, ../sass/screen.scss */
a {
  color: #1985c6;
}

/* line 95, ../sass/screen.scss */
body > section {
  padding: 1em;
  width: 80%;
  margin: 0 auto;
  background: white;
  border: 1px solid #505050;
  border-top: none;
}
/* line 108, ../sass/screen.scss */
body > section section section h1 {
  font-size: 18px;
}

/* line 115, ../sass/screen.scss */
footer {
  padding: 1em;
}

/* line 121, ../sass/screen.scss */
div.tabbed .tab-header {
  font-size: 18px;
  border-bottom: 1px solid #aaa;
}
/* line 125, ../sass/screen.scss */
div.tabbed .tab-header h1 {
  font-size: 18px;
  display: inline-block;
  padding: 0 0.5em;
  border: 1px solid transparent;
  border-bottom: 1px solid #aaa;
  margin-bottom: -1px;
}
/* line 133, ../sass/screen.scss */
div.tabbed .tab-header h1.current-tab {
  border: 1px solid #aaa;
  border-bottom-color: #fafafa;
  background: #fafafa;
}
/* line 141, ../sass/screen.scss */
div.tabbed section {
  background: #fafafa;
}
/* line 143, ../sass/screen.scss */
div.tabbed section > div {
  display: none;
}
/* line 147, ../sass/screen.scss */
div.tabbed section.current-tab > div {
  display: block;
  padding: 1em;
}

/* line 158, ../sass/screen.scss */
fieldset {
  padding-bottom: 1.714em;
}
/* line 161, ../sass/screen.scss */
fieldset legend {
  font-weight: bold;
}
/* line 165, ../sass/screen.scss */
fieldset * {
  margin-left: 1em;
}

/* line 172, ../sass/screen.scss */
ol {
  list-style: decimal outside none;
  margin-left: 3em;
}

/* line 179, ../sass/screen.scss */
table {
  border: 2px solid black;
}
/* line 2, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
table th {
  text-align: center;
  font-weight: bold;
}
/* line 6, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
table td,
table th {
  padding: 2px;
}
/* line 8, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
table td.numeric,
table th.numeric {
  text-align: right;
}
/* line 4, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
table thead th {
  border-bottom: 2px solid black;
}
/* line 7, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
table tfoot th, table tfoot td {
  border-top: 2px solid black;
}
/* line 10, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
table th:first-child {
  border-right: 2px solid black;
}
/* line 14, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
table th, table td {
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  border-left-width: 0px;
  border-top-width: 0px;
}
/* line 21, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
table th:last-child, table th.last, table td:last-child, table td.last {
  border-right-width: 0px;
}
/* line 29, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
table tbody tr:last-child th, table tbody tr:last-child td, table tfoot tr:last-child th, table tfoot tr:last-child td {
  border-bottom-width: 0px;
}
/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
table tbody tr.last th, table tbody tr.last td, table tfoot tr.last th, table tfoot tr.last td {
  border-bottom-width: 0px;
}
/* line 2, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table.filebrowser th {
  background-color: white;
}
/* line 4, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table.filebrowser th.even, table.filebrowser th:nth-child(2n) {
  background-color: white;
}
/* line 7, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table.filebrowser tr.odd td {
  background-color: #c3f688;
}
/* line 9, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table.filebrowser tr.odd td.even, table.filebrowser tr.odd td:nth-child(2n) {
  background-color: #c3f688;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table.filebrowser tr.even td {
  background-color: #88c3f6;
}
/* line 14, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table.filebrowser tr.even td.even, table.filebrowser tr.even td:nth-child(2n) {
  background-color: #88c3f6;
}
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table.filebrowser tfoot th, table.filebrowser tfoot td {
  background-color: white;
}
/* line 19, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table.filebrowser tfoot th.even, table.filebrowser tfoot th:nth-child(2n), table.filebrowser tfoot td.even, table.filebrowser tfoot td:nth-child(2n) {
  background-color: white;
}
/* line 187, ../sass/screen.scss */
table.filebrowser td:first-child {
  width: 600px;
}

/* line 193, ../sass/screen.scss */
table.simple-header {
  border: 0 solid black;
}
/* line 4, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
table.simple-header thead th {
  border-bottom: 0 solid black;
}
/* line 7, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
table.simple-header tfoot th, table.simple-header tfoot td {
  border-top: 0 solid black;
}
/* line 10, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
table.simple-header th:first-child {
  border-right: 0 solid black;
}
/* line 14, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
table.simple-header th, table.simple-header td {
  border-right: 0 solid black;
  border-bottom: 0 solid black;
  border-left-width: 0px;
  border-top-width: 0px;
}
/* line 21, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
table.simple-header th:last-child, table.simple-header th.last, table.simple-header td:last-child, table.simple-header td.last {
  border-right-width: 0px;
}
/* line 29, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
table.simple-header tbody tr:last-child th, table.simple-header tbody tr:last-child td, table.simple-header tfoot tr:last-child th, table.simple-header tfoot tr:last-child td {
  border-bottom-width: 0px;
}
/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
table.simple-header tbody tr.last th, table.simple-header tbody tr.last td, table.simple-header tfoot tr.last th, table.simple-header tfoot tr.last td {
  border-bottom-width: 0px;
}

/* line 201, ../sass/screen.scss */
br.clear {
  clear: both;
  overflow: hidden;
  *zoom: 1;
}

/* line 3, ../sass/dashboard.scss */
section.dashboard-list {
  border: 1px solid #505050;
  border-radius: 4px;
  background: white;
  width: 300px;
  float: left;
  margin: 5px;
}
/* line 11, ../sass/dashboard.scss */
section.dashboard-list div.list-header {
  border-bottom: 1px solid #505050;
  font-size: 1.286em;
  line-height: 1.333em;
  padding: 3px;
}
/* line 16, ../sass/dashboard.scss */
section.dashboard-list div.list-header h1 {
  font-size: 14px;
}
/* line 20, ../sass/dashboard.scss */
section.dashboard-list div.list-header a {
  font-size: 10px;
  float: right;
  position: relative;
  text-decoration: none;
  padding-right: 4px;
}
/* line 30, ../sass/dashboard.scss */
section.dashboard-list ul li {
  border-top: 1px solid #838383;
  padding: 4px;
}
/* line 33, ../sass/dashboard.scss */
section.dashboard-list ul li:first-child {
  border-top: none;
}
/* line 39, ../sass/dashboard.scss */
section.dashboard-list p {
  padding: 4px;
  font-size: 12px;
}

/* line 1, ../sass/repository-browser.scss */
div.header-bar {
  border: 1px solid #ccc;
}

/* line 5, ../sass/repository-browser.scss */
span.repository-url {
  background: white;
  border: 1px solid #ddd;
  padding: 3px;
}

/* line 11, ../sass/repository-browser.scss */
span.access-level {
  padding-left: 5px;
  color: #666;
}

/* line 18, ../sass/repository-browser.scss */
.history > h1 {
  padding-bottom: 1em;
}
/* line 22, ../sass/repository-browser.scss */
.history .log {
  padding-bottom: 1em;
}
/* line 23, ../sass/repository-browser.scss */
.history .log h1 {
  padding-bottom: 0;
}
/* line 26, ../sass/repository-browser.scss */
.history .log p {
  padding-top: 0.2em;
}

/* line 34, ../sass/repository-browser.scss */
.diff-file-list {
  border: 1px solid #ccc;
  border-radius: 3px;
}
/* line 38, ../sass/repository-browser.scss */
.diff-file-list .file {
  border-top: 1px solid #ccc;
}
/* line 40, ../sass/repository-browser.scss */
.diff-file-list .file:first-child {
  border-top: none;
}
/* line 43, ../sass/repository-browser.scss */
.diff-file-list .file div {
  padding: 3px;
}
/* line 46, ../sass/repository-browser.scss */
.diff-file-list .file div.added {
  background: #c8dcc8;
}
/* line 49, ../sass/repository-browser.scss */
.diff-file-list .file div.deleted {
  background: #dcc8c8;
}
/* line 52, ../sass/repository-browser.scss */
.diff-file-list .file div.modified, .diff-file-list .file div.renamed {
  background: #e6dcc8;
}

/* line 59, ../sass/repository-browser.scss */
.commit-summary {
  padding: 0.5em;
}
/* line 61, ../sass/repository-browser.scss */
.commit-summary .by {
  padding-top: 1em;
}

/* line 66, ../sass/repository-browser.scss */
.file-diff {
  border: 1px solid #ccc;
  margin: 0.5em 0em;
  border-radius: 3px;
}
/* line 71, ../sass/repository-browser.scss */
.file-diff.text .path {
  border-bottom: 1px solid #ccc;
}
/* line 74, ../sass/repository-browser.scss */
.file-diff div.path {
  padding: 0.3em;
}
/* line 77, ../sass/repository-browser.scss */
.file-diff div.path .binary {
  font-style: italic;
  color: #666;
}
/* line 82, ../sass/repository-browser.scss */
.file-diff p {
  padding: 0.3em;
}
