@{
    ViewBag.Title = "About";
}

<section>
	<p>This product incorporates the following projects</p>
	<section>
		<h1>JGit</h1>
		<p>Licensed under the Eclipse Distribution License</p>
	</section>
	<section>
		<h1>IKVM</h1>
		<p>Licensed under the IKVM license http://sourceforge.net/apps/mediawiki/ikvm/index.php?title=License</p>
		<section>
			<h1>OpenJDK</h1>
			<p>Licensed under the GNU GPL + ClassPath exception</p>
		</section>
	</section>
	<section>
		<h1>Automapper</h1>
		<p>Licensed under the Automapper license https://github.com/AutoMapper/AutoMapper/blob/master/LICENSE.txt</p>
	</section>
	<section>
		<h1>NHibernate</h1>
		<p>Licensed under the LGPL v2.1</p>
	</section>
	<section>
		<h1>ASP.NET MVC 3</h1>
		<p>Licensed under the Microsoft Public License</p>
	</section>
</section>