@using System.Linq;
@{
    ViewBag.Title = "Dashboard";
}

<section class="dashboard-list">
	<div class="list-header">
		@Html.ActionLink("Create", "New", "Repository")
		<h1>Repositories</h1>
	</div>
		
	@if (ViewBag.Repositories.Count > 0) {
	<ul class="Repositories">
		@foreach (var repository in ViewBag.Repositories) {
			<li>@Html.RouteLink((string)repository.Name, "GitRepositoryBrowser", new {username = "", reponame = repository.UrlName})</li>
		}
	</ul>
	} else {
		<p>No repositories yet, why don't you @Html.ActionLink("add one", "New", "Repository"), or fork someone else's?</p>
	}
</section>

<section class="dashboard-list">
	<div class="list-header">
		@Html.ActionLink("Create", "New", "Project")
		<h1>Projects</h1>
	</div>
	
	@if (ViewBag.Projects.Count > 0) {
		<ul class="projects">
			@foreach (var project in ViewBag.Projects) {
				<li>@Html.RouteLink((string)project.Name, "Project", new {username = "", identifier = project.UrlName})</li>
			}
		</ul>
	} else {
		<p>You have no projects, why don't you @Html.ActionLink("create one", "New", "Project")?</p>
	}
</section>

<section class="dashboard-list">
	<div class="list-header">
		<h1>Assigned Issues</h1>
	</div>
	
	<p>You have no open issues, hooray!</p>
</section>

<br class="clear"/>