@model GitNet.DB.Repo

@{
    ViewBag.Title = "New Repository";
}


@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)
	<fieldset>
		<div class="editor-label">
			@Html.LabelFor(m => m.Name)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.Name)
			@Html.ValidationMessageFor(m => m.Name)
		</div>
		
		<div class="editor-label">
			@Html.LabelFor(m => m.Description)
		</div>
		<div class="editor-field">
			@Html.TextAreaFor(m => m.Description)
			@Html.ValidationMessageFor(m => m.Description)
		</div>
		
		<div class="editor-label">
			@Html.LabelFor(m => m.Public)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.Public)
			@Html.ValidationMessageFor(m => m.Public)
		</div>
		
        <p>
            <input type="submit" value="Create" />
        </p>
	</fieldset>
}