$border-colour: rgb(80, 80, 80);

section.dashboard-list {
	border: 1px solid $border-colour;
	border-radius: 4px;
	background: lighten($main-background, 10%);
	width: 300px;
	float: left;
	margin: 5px;
	
	div.list-header {
		border-bottom: 1px solid $border-colour;
		@include adjust-font-size-to(18px);
		padding: 3px;
	
		h1 {
			font-size: $base-font-size;
		}
		
		a {
			font-size: $base-font-size - 4;
			float: right;
			position: relative;
			text-decoration: none;
			padding-right: 4px;
		}
	}
	
	ul {
		li {
			border-top: 1px solid lighten($border-colour, 20%);
			padding: 4px;
			&:first-child {
				border-top: none;
			}
		}
	}
	
	p {
		padding: 4px;
		font-size: $base-font-size - 2;
	}
}