div.header-bar {
	border: 1px solid #ccc;
}

span.repository-url {
	background: white;
	border: 1px solid #ddd;
	padding: 3px;
}

span.access-level {
	padding-left: 5px;
	color: #666;
}

.history {
	
	& > h1 {
		padding-bottom: 1em;
	}
	
	.log {
		h1 {
			padding-bottom: 0;
		}
		p {
			padding-top: 0.2em;
		}
		
		padding-bottom: 1em;
	}
}

.diff-file-list {
	border: 1px solid #ccc;
	border-radius: 3px;

	.file {
		border-top: 1px solid #ccc;
		&:first-child {
			border-top: none;
		}
		div {
			padding: 3px;

			&.added {
				background: rgb(200, 220, 200);
			}
			&.deleted {
				background: rgb(220, 200, 200);
			}
			&.modified, &.renamed {
				background: rgb(230, 220, 200);
			}
		}
	}
}

.commit-summary {
	padding: 0.5em;
	.by {
		padding-top: 1em;
	}
}

.file-diff {
	border: 1px solid #ccc;
	margin: 0.5em 0em;
	border-radius: 3px;

	&.text .path {
		border-bottom: 1px solid #ccc;
	}
	div.path {
		padding: 0.3em;
		
		.binary {
			font-style: italic;
			color: #666;
		}
	}
	p {
		padding: 0.3em;
	}
}
