/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/images";
@import "compass/typography";
@import "compass/typography/links/link-colors";


@import "compass/layout/sticky-footer";
@include sticky-footer(54px, "footer");

@import "compass/utilities/tables/scaffolding";
@import "compass/utilities/tables/borders";
@import "compass/utilities/tables/alternating-rows-and-columns";

$main-background: #D5EBF6;
$base-font-size: 14px;
$nav-font-size: 16px;
$title-font-size: 36px;
$level1-font-size: 22px;
$level2-font-size: 18px;

html {
	font-family: Gill Sans, Verdana, Helvetica, sans-serif;
	font-size: $base-font-size;
	background: $main-background;
}

header {
	background: #000;
	$header-link: #89C5EF;
	@include background(linear-gradient(top, #111, #333 50%, #555));
	padding: 0px 9px;
	border-bottom: 2px solid #000;
	color: #fff;
	text-shadow: 0px 2px 3px #000;
	
	h1 {
		font-size: $level1-font-size;
		font-weight: normal;
		float: left;
		margin: 0em;
		padding: 0.5em 0.5em;
		padding-bottom: 0.3em;
		a {
			text-decoration: none;
			@include link-colors(#fff);
			
		}
		
		&:first-child {
			font-weight: bold;
		}
		
		&.current-page {
			background: #222;
		}
	}
	
	nav {
		float: right;
		vertical-align: middle;
		margin-top: 0.8em;
		font-size: $nav-font-size;
		ul {
			@include inline-block-list;
			li {
				padding-left: 1em;
				padding-right: 1em;
			}
		}
		
		a {
			@include link-colors($header-link);
		}
	}
}

h1 {
	font-size: $title-font-size;
	font-weight: bold;
}

h1 + p {
	
}

a {
	@include link-colors(#1985C6);
}

body > section {
	padding: 1em;
	width: 80%;
	margin: 0 auto;
	background: white;
	border: 1px solid rgb(80, 80, 80);
	border-top: none;
	
	section {
		h1 {
			
		}
		section {
			h1 {
				font-size: $level2-font-size;
			}
		}
	}
}

footer {
	padding: 1em;
}

// Tabs
div.tabbed {
	.tab-header {
		font-size: $level2-font-size;
		border-bottom: 1px solid #aaa;
		
		h1 {
			font-size: $level2-font-size;
			display: inline-block;
			padding: 0 0.5em;
			border: 1px solid transparent;
			border-bottom: 1px solid #aaa;
			margin-bottom: -1px;
			
			&.current-tab {
				border: 1px solid #aaa;
				border-bottom-color: rgb(250, 250, 250);
				background: rgb(250, 250, 250);
			}
		}
	}
	
	section {	
		background: rgb(250, 250, 250);
		& > div {
			display: none;
		}
		
		&.current-tab > div {
			display: block;
			padding: 1em;
		}
		
		
	}
}

// Forms

fieldset {
	@include padding-trailer();
	
	legend {
		font-weight: bold;
	}
	
	* {
		margin-left: 1em;
	}
}

// Lists

ol {
	list-style: decimal outside none;
	margin-left: 3em;
}

// Tables

table {
	@include table-scaffolding;
	@include outer-table-borders(2px);
	@include inner-table-borders(1px, #aaa);
	
	&.filebrowser {
		$table-color: #88C3F6;
		@include alternating-rows-and-columns($table-color, adjust-hue($table-color, -120deg), #000);
		td:first-child {
			width: 600px;
		}
	}
}

table.simple-header {
	@include outer-table-borders(0);
	@include inner-table-borders(0);
	
}

// Hacks

br.clear {
	clear: both;
	@include clearfix;
}



@import "dashboard.scss";
@import "repository-browser.scss";