@model GitNet.Models.ViewModel.ProjectAdmin
@using GitNet.DB

@{
	ViewBag.TitleStrings = new [] {Model.Project.Name, "Administer"};
	ViewBag.Titles = new [] {Html.RouteLink(Model.Project.Name, "Project", new {username="", identifier=(string)Model.Project.UrlName}),
							 MvcHtmlString.Create("Administer")};
	
	<script src="@Url.Content("~/Content/javascript/project-admin.js")" type="text/javascript"></script>
}

<div class="tabbed">
	<section class="current-tab">
		<h1>Repositories</h1>
		<div>
			<a href="">Create</a>
			<a href="">Add Existing</a>
		</div>
	</section>
	
	<section>
		<h1>Milestones</h1>
		<div id="milestones">
			@using (Html.BeginForm(new {action = "Milestones"})) {
				@Html.ValidationSummary(true)
				<table class="simple-header" id="milestones-table">
					<thead>
						<tr>
							<th>Name</th><th>Due date</th><th>Completed</th>
						</tr>
					</thead>
					<tbody>
						@for (int i = 0; i < Model.Project.Milestones.Count; i++) {
						<tr>
							<td>@Html.EditorFor(m => m.Project.Milestones[i].Name)</td>
							<td>@Html.EditorFor(m => m.Project.Milestones[i].DueDate)</td>
							<td></td>
						</tr>
						}
					</tbody>
				</table>
				<p>
					<input type="submit" value="Save Milestones"/>
				</p>
			}
		</div>
	</section>
	

	
	<section>
		<h1>Users</h1>
		<div id="users">
			@using (Html.BeginForm(new {action = "Users"})) {
				<table class="simple-header" id="users-table">
					<thead>
						<tr>
							<th>Username</th><th>Admin</th><th>Remove</th>
						</tr>
					</thead>
					<tbody>
						@for (int i = 0; i < Model.UserRoles.Count; i++) {
							<tr>
								<td>@Model.UserRoles[i].UserId</td>
								<td>
									@if (!Model.UserRoles[i].IsOwner) {
										@Html.EditorFor(m => m.UserRoles[i].IsAdministrator)
									} else {
										<text>Owner</text>
									}
								</td>
								<td>
									@if (!Model.UserRoles[i].IsOwner) {
										@Html.EditorFor(m => m.UserRoles[i].Remove)
									}
								</td>
							</tr>
						}
					</tbody>
				</table>
				<p>
					<input type="submit" value="Save Users"/>
				</p>
			}
			<section id="invite-users">
				<h1>Invite Users</h1>
				
				@using (Html.BeginForm(new {action = "InviteUsers"})) {
					<p>Email addresses, one per line:</p>
					<textarea name="InviteEmails" rows="20" cols="80">
					
					</textarea>
					<p>
						<input type="submit" value="Invite Users"/>
					</p>
				}
			
			</section>
		</div>
	</section>
	
	
	<section>
		<h1>Components</h1>
		<div id="components">
			@using (Html.BeginForm(new {action = "Components"})) {
				@Html.ValidationSummary(true)
				<table class="simple-header" id="components-table">
					<thead>
						<tr>
							<th>Archived</th><th>Component</th><th>Owner</th>
						</tr>
					</thead>
					<tbody>
						@for (int i = 0; i < Model.Project.Components.Count; i++) {
							<tr>
								<th>
									@Html.HiddenFor(m => m.Project.Components[i].ComponentId)
									@Html.CheckBoxFor(m => m.Project.Components[i].Archived)
								</th>
								<td>
									@Html.HiddenFor(m => m.Project.Components[i].Name)
									<span>@Model.Project.Components[i].Name</span>
								</td>
								<td>
									@Html.EditorFor(m => m.Project.Components[i].Owner)
								</td>
							</tr>
						}
					</tbody>
				</table>
				<p>
					<input type="submit" value="Save Components"/>
				</p>
			}
			<div>
				<a href="" id="add-component">Add Component</a>
			</div>
		</div>
	</section>
	
	<section>
		<h1>Status &amp; Resolution</h1>
		<div id="status-resolution">
			@using (Html.BeginForm(new {action = "StatusResolution"})) {
			<section>
				<h1>Status</h1>
				<ol id="status-list">
				@for (int i = 0; i < Model.Project.Statuses.Count; i++) {
					<li>
						@Html.HiddenFor(m => m.Project.Statuses[i].StatusId)
						@Html.EditorFor(m => m.Project.Statuses[i].Name)
						Resolved:
						@Html.EditorFor(m => m.Project.Statuses[i].IsResolved)
						Closed:
						@Html.EditorFor(m => m.Project.Statuses[i].IsClosed)
					</li>
				}
				</ol>
				<a href="" id="add-status">Add Status</a>
			</section>
			
			<section>
				<h1>Resolution</h1>
				<ol id="resolution-list">
				@for (int i = 0; i < Model.Project.Resolutions.Count; i++) {
					<li>
						@Html.HiddenFor(m => m.Project.Resolutions[i].ResolutionId)
						@Html.EditorFor(m => m.Project.Resolutions[i].Name)
					</li>
				}
				</ol>
				<a href="" id="add-resolution">Add Resolution</a>
			</section>
			<p>
				<input type="submit" value="Save Statuses and Resolution"/>
			</p>
			}
		</div>
	</section>
	
	<section>
		<h1>Priorities</h1>
		<div id="priorities">
			@using (Html.BeginForm(new {action = "Priorities"})) {
				<ol id="priority-list">
				@for (int i = 0; i < Model.Project.Priorities.Count; i++) {
					<li>
						@Html.HiddenFor(m => m.Project.Priorities[i].PriorityId)
						@Html.EditorFor(m => m.Project.Priorities[i].Name)
					</li>
				}
				</ol>
				<p>
					<input type="submit" value="Save Priorities"/>
				</p>
			}
			<div>
				<a href="" id="add-priority">Add Priority</a>
			</div>
		</div>
	</section>

	<br class="clear"/>
</div>