@model GitNet.DB.Project

@{
	ViewBag.Title = "Create Project";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)
	<fieldset>
		<div class="editor-label">
			@Html.LabelFor(m => m.Name)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.Name)
			@Html.ValidationMessageFor(m => m.Name)
		</div>
		
		<div class="editor-label">
			@Html.LabelFor(m => m.Description)
		</div>
		<div class="editor-field">
			@Html.TextAreaFor(m => m.Description)
			@Html.ValidationMessageFor(m => m.Description)
		</div>
		
        <p>
            <input type="submit" value="Create" />
        </p>
	</fieldset>
}