@model GitNet.DB.Project

@{
	ViewBag.Title = Model.Name;
}

@Html.RouteLink("Admin", "Project", new {username="", identifier=(string)Model.UrlName, action="Admin"})

<section>
	<h1>Issues</h1>
</section>

<section>
	<h1>Milestones</h1>
</section>

<section>
	<h1>Repositories</h1>
</section>