@model GitNet.Models.ViewModel.Register

@{
    ViewBag.Title = "Register";
}


<h2>Register</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)
	<fieldset>
		<div class="editor-label">
			@Html.LabelFor(m => m.Username)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.Username)
			@Html.ValidationMessageFor(m => m.Username)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.Email)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.Email)
			@Html.ValidationMessageFor(m => m.Email)
		</div>
	
		<div class="editor-label">
			@Html.LabelFor(m => m.Password)
		</div>
		<div class="editor-field">
			@Html.PasswordFor(m => m.Password)
			@Html.ValidationMessageFor(m => m.Password)
		</div>
		
		
        <p>
            <input type="submit" value="Register" />
        </p>
	</fieldset>
}